{% set slides = [
  {
    type: 'image',
    image: post.featured_image,
  },
  ...slides
] %}

<div class="col-span-full lg:col-start-[content-start] col-end-[col-2]">
  <section
    id="thumbnail-slider"
    class="splide"
  >
    <div class="splide__track">
      <ul class="splide__list">
        {% for item in slides %}
          <li class="splide__slide bg-gray-background">
            {% if item.type == 'image' %}
              {{ ResponsiveImage(item.image, {
                class: '',
                sizes: '',
              }) }}
            {% elseif item.type == 'video' %}
              video
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

<div class="col-span-full lg:col-start-[col-2] col-end-[col-7]">
  <section
    id="main-slider"
    class="splide"
  >
    <div class="splide__track h-full">
      <ul class="splide__list">
        {% for item in slides %}
          <li
            class="
              splide__slide rounded-md
              {% if item.type == 'image' %}
                bg-gray-background
              {% elseif item.type == 'video' %}
                bg-gray-dark
              {% endif %}
            "
            {% if item.type == 'video' %}
              data-splide-youtube="{{ GetYoutubeId(item.video) }}"
            {% endif %}
          >
            {% if item.type == 'image' %}
              {{ ResponsiveImage(item.image, {
                class: 'size-full object-contain',
                sizes: '',
              }) }}
            {% elseif item.type == 'video' %}
              <div class="splide__slide__container">
                <img src="https://picsum.photos/1200/900" alt="" class="">
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

<style>
  .splide__slide__container--has-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  .splide .splide__video {
    position: static;
    /* border-radius: 6px;
    width: calc(100% - 32px);
    height: auto;
    aspect-ratio: 16/9;
    background-color: #EFEFEF;
    cursor: pointer; */
  }

  .splide__video__wrapper {
    width: 100%;
    height: 100%;
  }
</style>
