<section class="relative flex flex-col justify-end h-125 lg:h-175">
  {{ ResponsiveImage(image, {
    class: 'absolute top-0 left-0 z-10 size-full object-cover',
    sizes: '',
  }) }}
  <div class="absolute top-0 left-0 z-20 size-full bg-linear-to-b from-transparent to-black opacity-90"></div>
  <div class="fluid-grid relative z-30 pb-12 lg:pb-25">
    <div class="span-content lg:col-start-[content-start] lg:col-end-[col-7]">
      <h1 class="text-h3 text-white">{{ heading }}</h1>
    </div>
  </div>
</section>
