<section class="relative flex flex-col justify-end h-125 lg:h-175">
  {% if image %}
    {{ ResponsiveImage(image, {
      class: 'absolute top-0 left-0 z-10 size-full' ~ ' ' ~ (crop_image ? 'object-cover' : 'object-contain p-5'),
      sizes: '100vw',
    }) }}
  {% endif %}
  <div class="absolute top-0 left-0 z-20 size-full bg-linear-to-b from-transparent to-black opacity-90"></div>
  <div class="fluid-grid relative z-30 pb-12 lg:pb-25">
    <div class="span-content lg:col-start-[content-start] lg:col-end-[col-12] xl:col-end-[col-10]">
      <h1 class="text-h2 text-white">{{ heading }}</h1>
    </div>
  </div>
</section>
<div class="fluid-grid mt-12">
  <div class="span-content lg:col-start-[content-start] lg:col-end-[col-9]">
    <div class="text-tag text-blue-dark">{{ post.date }}</div>
  </div>
</div>
