{% if data_source == 'global' %}
  {% set data = global.global_cta %}
{% elseif data_source == 'custom' %}
  {% set data = cta %}
{% endif %}

<section class="relative h-180 text-white">
  {{ ResponsiveImage(data.image, {
    class: 'absolute z-10 size-full object-cover',
    sizes: '100vw',
  }) }}
  <div class="absolute z-20 size-full gradient-adeptag bg-linear-to-t mix-blend-multiply lg:bg-linear-to-l"></div>
  <div class="fluid-grid relative z-30 h-full lg:items-center">
    <div class="span-content py-16 space-y-8 lg:col-start-[content-start] lg:col-end-[col-7]">
      <h2 class="text-h3">{{ data.heading }}</h2>
      <p class="text-b2">{{ data.body }}</p>
      <div class="flex flex-col lg:flex-row">
        {% for item in data.links %}
          {% include "partials/link.twig" with {
            ...item.link,
            class: 'button-white',
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
