{% set events = fn('Timber::get_posts', {
  post_type: 'event',
	posts_per_page: -1,
}) %}

<section
  x-data='eventFilter({{ events|escape("js")|json_encode }})'
  class="py-20"
>
  <div class="fluid-grid">
    <div class="span-content">
      <h2 class="text-subhead text-blue-dark mb-3">Upcoming events</h2>
    </div>
    <div class="span-content grid grid-cols-subgrid border-t border-t-black">
      <template x-for="(post, index) in displayedPosts">
        <article
          :class="index != displayedPosts.length - 1 && 'border-b border-b-black'"
          class="col-span-12 grid grid-cols-subgrid gap-y-5 py-14 lg:py-20 lg:items-center"
        >
          <img
            :src="post.image.src"
            :alt="post.image.alt"
            :srcset="post.image.srcset"
            :width="post.image.width"
            :height="post.image.height"
            class="col-span-12 w-full p-9 lg:col-span-6 lg:p-16"
            sizes=""
            loading="lazy"
          >
          <div class="col-span-12 space-y-4 text-blue-dark lg:col-span-6 lg:space-y-5">
            <h3
              x-text="post.title"
              class="text-h3"
            ></h3>
            <div
              x-text="post.date"
              class="flex gap-x-1 text-subhead"
            ></div>
            <div
              x-text="post.location"
              class="text-b3"
            ></div>
            <div
              x-text="post.description"
              class="text-b1"
            ></div>
            <a
              x-text="post.link.title"
              :href="post.link.url"
              target="_blank"
              class="button-primary"
            ></a>
          </div>
        </article>
      </template>
    </div>
    <div class="span-content -mt-12">
      {% include "partials/pagination.twig" with { items: posts } %}
    </div>
  </div>
</section>
