<section
  class="
    relative pt-16
    {% if icons|length > 0 %}
      pb-32
    {% else %}
      pb-16
    {% endif %}
    {% if background_color == 'blue' %}
      bg-blue-dark text-white
    {% elseif background_color == 'gray' %}
      bg-gray-background text-blue-dark
    {% elseif background_color == 'white' %}
      text-blue-dark
    {% endif %}
  "
>
  {% include "partials/wave.twig" %}
  <div class="fluid-grid">
    <div class="span-content flex flex-col">
      <div class="text-b1 lg:text-h5 text-blue-dark">{{ large_text }}</div>
      {% if icons|length > 0 %}
        <div
          class="
            grid grid-cols-2 gap-x-fluid-grid-gap gap-y-3.5 mt-12 md:gap-y-8 lg:grid-cols-5
            {% if icons|length < 6 %}
                md:grid-cols-3
              {% else %}
                md:grid-cols-4
              {% endif %}
            {% if icons|length == 6 %}
              xl:grid-cols-6
            {% elseif icons|length > 6 %}
              xl:grid-cols-7
            {% endif %}
          "
        >
          {% for item in icons %}
            <div class="lg:flex lg:flex-col">
              <div class="h-11 md:h-13 lg:h-16 lg:flex lg:justify-center">
                {{ ResponsiveImage(item.image, {
                  class: 'h-full w-auto',
                  sizes: '(min-width: 768px) 25vw, (min-width: 1024px) 20vw, (min-width: 1408px) 200px, 50vw',
                }) }}
              </div>
              <div class="text-subhead mt-2 lg:mt-4 lg:text-center">{{ item.label }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if links %}
        <div class="mt-13">
          {% for item in links %}
            {% if item.link %}
              {% include "partials/link.twig" with {
                ...item.link,
                class: 'button-primary',
              } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
