<section
  class="
    relative pt-16 pb-32
    {% if background_color == 'blue' %}
      bg-blue-dark text-white
    {% elseif background_color == 'gray' %}
      bg-gray-background text-blue-dark
    {% elseif background_color == 'white' %}
      text-blue-dark
    {% endif %}
  "
>
  {% include "partials/wave.twig" %}
  <div class="fluid-grid">
    <div class="span-content flex flex-col">
      <div class="font-nunito font-normal text-[1.375rem] leading-7.75 tracking-[0.06875rem] lg:text-h4 text-blue-dark">{{ large_text }}</div>
      <div class="grid grid-cols-2 gap-x-fluid-grid-gap gap-y-3.5 mt-12 md:grid-cols-4 md:gap-y-8 lg:grid-cols-7">
        {% for item in icons %}
          <div class="lg:flex lg:flex-col">
            <div class="h-11 md:h-13 lg:h-16 lg:flex lg:justify-center">
              {{ ResponsiveImage(item.image, {
                class: 'h-full w-auto',
                sizes: '',
              }) }}
            </div>
            <div class="text-subhead mt-2 lg:mt-4 lg:text-center">{{ item.label }}</div>
          </div>
        {% endfor %}
      </div>
      {% if links %}
        <div class="mt-13">
          {% for item in links %}
            {% include "partials/link.twig" with {
              ...item.link,
              class: 'button-primary',
            } %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
