<section
  class="
    relative
    {% if top_wave %}
      pt-16
      {% if image %}
        pb-32 lg:pt-0
      {% else %}
        pb-16 lg:pb-24
      {% endif %}
    {% else %}
      py-16
    {% endif %}
    {% if background_color == 'blue' %}
      bg-blue-dark text-white
    {% elseif background_color == 'gray' %}
      bg-gray-background text-blue-dark
    {% elseif background_color == 'white' %}
      text-blue-dark
    {% endif %}
  "
>
  {% include "partials/wave.twig" %}
  <div
    class="
      fluid-grid gap-y-12
      {% if image %}
        lg:items-center
      {% endif %}
    "
  >
    {% if image %}
      <div
        class="
          lg:hidden
          {% if image_location == 'screen-edge' %}
            span-full md:col-start-[col-7] md:col-end-[full-end]
          {% else %}
            span-content md:col-start-[col-3] md:col-end-[col-11]
          {% endif %}
        "
      >
        {{ ResponsiveImage(image, {
          class: 'w-full object-contain object-right',
          sizes: image_location == 'screen-edge'
            ? '(min-width: 768px) 50vw, (min-width: 1024px) 40vw, 100vw'
            : '(min-width: 768px) 34vw, (min-width: 1024px) 50vw, (min-width: 1408px) 499px, 100vw',
        }) }}
      </div>
    {% endif %}
    <div
      class="
        span-content
        {% if image %}
          lg:col-end-[col-8]
        {% else %}
          lg:col-start-[col-3] lg:col-end-[col-11] text-center
        {% endif %}
        {% if top_wave and image %}
          lg:pt-16
        {% endif %}
      "
    >
      <p class="text-h5">{{ text }}</p>
      {% for item in links %}
        <div class="mt-10">
          {% include "partials/link.twig" with {
            ...item.link,
            class: background_color == 'blue' ? 'button-white' : 'button-primary',
          } %}
        </div>
      {% endfor %}
    </div>
    {% if image %}
      <div
        class="
          hidden lg:block lg:col-start-[col-8]
          {% if image_location == 'screen-edge' %}
            lg:col-end-[full-end]
          {% else %}
            lg:col-end-[content-end]
          {% endif %}
        "
      >
        {{ ResponsiveImage(image, {
          class: 'w-full pl-4 object-contain object-right',
          sizes: image_location == 'screen-edge'
            ? '(min-width: 768px) 50vw, (min-width: 1024px) 40vw, 100vw'
            : '(min-width: 768px) 34vw, (min-width: 1024px) 50vw, (min-width: 1408px) 499px, 100vw',
        }) }}
      </div>
    {% endif %}
  </div>
</section>
