<section
  class="
    py-16
    {% if background_color == 'gray' %}
      bg-gray-background
    {% endif %}
  "
>
  <div class="fluid-grid gap-y-4">
    <div class="span-content lg:col-start-[content-start] lg:col-end-[col-8]">
      {{ ResponsiveImage(image, {
        class: 'w-full aspect-square object-cover',
        sizes: '',
      }) }}
    </div>
    <div class="span-content lg:col-start-[col-8] lg:col-end-[content-end] flex flex-col gap-y-2.5 text-blue-dark">
      {% for stat in stats %}
        <div
          class="
            flex items-center gap-x-10 p-6 lg:p-10
            {% if background_color == 'white' %}
              bg-gray-background
            {% elseif background_color == 'gray' %}
              bg-white
            {% endif %}
          "
        >
          <div class="text-h2 w-24 lg:w-48 shrink-0">{{ stat.large_text }}</div>
          <div class="text-b2">{{ stat.small_text }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
