<section class="relative h-220 max-h-[calc(100dvh-var(--wp-admin--admin-bar--height,0px))]">
  {{ ResponsiveImage(background_image, {
    class: 'absolute top-0 left-0 size-full object-cover',
    sizes: '100vw',
  }) }}
  <div class="absolute top-0 left-0 size-full z-10 bg-black opacity-60"></div>
  <div class="fluid-grid relative z-20 size-full">
    <div class="span-content flex flex-col justify-center items-center">
      {% if logo %}
        <div class="h-16 mb-7">
          {{ ResponsiveImage(logo, {
            class: 'size-full object-left object-contain',
            sizes: '100vw',
          }) }}
        </div>
      {% endif %}
      <h1 class="text-h1 text-white text-center">{{ heading|stars_span('underline decoration-green-light decoration-[3%] underline-offset-12') }}</h1>
    </div>
  </div>
</section>
