<section class="py-10 bg-gray-background lg:py-20">
  <div class="fluid-grid">
    <div class="span-content space-y-4 lg:col-start-[content-start] lg:col-end-[col-11]">
      <h1 class="text-h3">{{ heading }}</h1>
      <p class="text-subhead">{{ date }}</p>
    </div>
  </div>
</section>
