<section class="py-10 bg-gray-background lg:py-20">
  <div class="fluid-grid">
    <div class="span-content space-y-4">
      <h1 class="text-h2">{{ heading }}</h1>
      <p class="text-subhead">{{ date }}</p>
    </div>
  </div>
</section>
