<section class="relative h-108">
  {{ ResponsiveImage(background_image, {
    class: 'absolute z-10 inset-0 size-full object-cover',
    sizes: '',
  }) }}
  <div class="absolute top-0 left-0 size-full z-20 bg-black opacity-60"></div>
  <div class="fluid-grid relative z-30 h-full">
    <div class="span-content self-center text-white space-y-6 lg:col-start-[content-start] lg:col-end-[col-9] xl:col-end-[col-10]">
      <h1 class="text-h2">{{ heading }}</h1>
      <p class="text-h5">{{ body }}</p>
    </div>
  </div>
  {% if icon %}
    {{ ResponsiveImage(icon, {
      class: 'absolute z-40 bottom-0 right-0 w-27 md:w-40 lg:w-66',
      sizes: '',
    }) }}
  {% endif %}
</section>
