@import "tailwindcss";
@import "./peak.css";
@import "./typography.css";
@import "./splide-custom.css";
@import "./forms.css";

@theme {
	--color-blue-dark: #193a66;
	--color-blue-sky: #0180aa;
	--color-blue-hover: #1e4f90;

	--color-green-dark: #407908;
	--color-green-lime: #88c140;
	--color-green-light: #b0e85a;

	--color-gray-background: #efefef;
	--color-gray-secondary: #cecece;
	--color-gray-dark: #4b4b4b;

	--font-nunito:
		Nunito, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-avenir:
		"avenir-lt-pro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-avenir-condensed:
		"avenir-next-lt-pro-condensed", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-weight-*: initial;
	/* --font-weight-hairline: 100; */
	/* --font-weight-thin: 200; */
	/* --font-weight-light: 300; */
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	/* --font-weight-black: 900; */

	--animate-marquee: marquee 90s linear infinite;

	@keyframes marquee {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-50%);
		}
	}
}

:root {
	--plyr-color-main: var(--color-blue-dark);
}

@utility gradient-adeptag {
	@apply from-10% to-75% from-green-lime to-blue-sky;
}

@utility button-base {
	@apply inline-flex justify-center text-b2 py-4 px-8 min-w-56 border-2 rounded-full transition-colors;
}

@utility button-primary {
	@apply button-base bg-blue-dark text-white border-blue-dark hover:bg-blue-hover hover:border-blue-hover;
}

@utility button-primary-hollow {
	@apply button-base bg-white text-blue-dark border-blue-dark hover:bg-blue-sky/10;
}

@utility button-white {
	@apply button-base bg-white text-black border-white hover:bg-gray-secondary hover:border-gray-secondary;
}

@utility button-white-hollow {
	@apply button-base bg-transparent text-white border-white hover:bg-white/20;
}

@utility tag {
	@apply bg-green-light text-black inline-block text-tag rounded-full py-1.5 px-4 lg:py-2;
}

@utility trandlate3d000 {
	transform: translate3d(0, 0, 0);
}
