@import "tailwindcss";
@import "./peak.css";
@import "./typography.css";

@theme {
	--color-blue-dark: #193A66;
	--color-blue-sky: #0483AD;
	--color-blue-medium: #0483AD;
	--color-blue-hover: #1E4F90;

	--color-green-dark: #4B8403;
	--color-green-lime: #88C140;
	--color-green-light: #B0E85A;

	--color-gray-background: #EFEFEF;
	--color-gray-secondary: #CECECE;
	--color-gray-dark: #4B4B4B;

	--font-nunito: Nunito, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-avenir: "avenir-lt-pro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-avenir-condensed: "avenir-next-lt-pro-condensed", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-weight-*: initial;
	/* --font-weight-hairline: 100; */
	/* --font-weight-thin: 200; */
	/* --font-weight-light: 300; */
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	/* --font-weight-black: 900; */
}

:root {
	--plyr-color-main: var(--color-blue-dark);
}

@utility gradient-adeptag {
	@apply from-10% to-75% from-green-lime to-blue-sky;
}

@utility button-primary {
	@apply inline-flex justify-center bg-blue-dark text-white text-b2 py-4 px-8 min-w-70 rounded-full transition-colors hover:bg-blue-hover;
}
