@plugin "@tailwindcss/typography";

@utility text-h1 {
	@apply font-avenir font-medium text-[3.125rem] leading-14.25 lg:text-[4.75rem] lg:leading-22.75;
}

@utility text-h2 {
	@apply font-avenir font-medium text-[2.625rem] leading-11.75 lg:text-[4.1875rem] lg:leading-19.25;
}

@utility text-h3 {
	@apply font-avenir font-medium text-[2.1875rem] leading-11.25 lg:text-[2.75rem] lg:leading-14.5;
}

@utility text-h4 {
	@apply font-avenir font-extrabold text-[1.6875rem] leading-8.25 lg:text-[2.3125rem] lg:leading-11.75;
}

@utility text-h5 {
	@apply font-avenir font-medium text-[1.6875rem] leading-8.25 lg:text-[1.875rem] lg:leading-9.25;
}

@utility text-subhead {
	@apply font-avenir-condensed font-semibold text-lg leading-6.5 tracking-[0.05625rem] uppercase;
}

@utility text-b1 {
	@apply font-nunito font-normal text-xl leading-6.75 lg:text-[1.375rem] lg:leading-7.75 lg:tracking-[0.06875rem];
}

@utility text-b2 {
	@apply font-nunito font-normal text-base leading-5.5;
}

@utility text-b3 {
	@apply font-nunito italic font-normal text-sm leading-4.5 tracking-wider;
}

@utility text-tag {
	@apply font-avenir-condensed font-medium uppercase text-sm leading-none tracking-wider lg:text-base lg:leading-none;
}

@utility wysiwyg {
	line-height: 1.5em;

	a:not(.button-primary) {
		@apply underline;
	}

	h1 {
		@apply text-h2 mb-4;
	}

	h2 {
		@apply text-h3 mt-8 mb-3;

		+ h3 {
			@apply mt-3;
		}
	}

	h3 {
		@apply text-h4 mt-7 mb-2.5;

		+ h4 {
			@apply mt-2.5;
		}
	}

	h4 {
		@apply text-h5 mt-6 mb-2;

		+ h5 {
			@apply mt-2;
		}
	}

	h5 {
		@apply text-subhead mt-5 mb-1.5;

		+ h6 {
			@apply mt-1.5;
		}
	}

	h6 {
		@apply text-tag mt-4 mb-1;
	}

	p {
		@apply text-b2 my-2;
	}

	ul,
	ol {
		@apply my-6 space-y-1;
	}

	ol,
	ul {
		ol,
		ul {
			@apply my-2;
		}
	}

	ul {
		@apply list-disc pl-5;
	}

	ol {
		@apply list-decimal pl-5;
	}

	ul > li > p,
	ol > li > p {
		margin-top: 0em !important;
		margin-bottom: 0em !important;
		line-height: 1.5em;
	}

	/* h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-blue-navy;
	} */

	table {
		th,
		td {
			@apply px-5 py-3;
		}

		th {
			/* background-color: #f6fbef; */
			text-align: left;
		}
	}

	table,
	th,
	td {
		/* @apply border-blue-navy border; */
	}

	table {
	}

	tr {
		@apply odd:bg-gray-background;
	}

	td,
	th {
		@apply border border-gray-secondary;
	}

	.table-wrapper {
		@apply overflow-x-auto;
	}

	:where(.wysiwyg > div > :first-child) {
		margin-top: 0 !important;
	}

	:where(.wysiwyg > div > :last-child) {
		margin-bottom: 0 !important;
	}

	> :first-child {
		@apply mt-0;
	}
}

@utility wysiwyg-large {
	p {
		@apply text-h5;
	}

	a {
		@apply underline;
	}
}

@layer base {
	@font-face {
		font-display: swap;
		font-family: "Nunito";
		font-style: normal;
		font-weight: 400;
		src: url("/wp-content/themes/adeptag-full-site/dist/fonts/nunito/nunito-v32-latin-regular.woff2")
			format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		src: url("/wp-content/themes/adeptag-full-site/dist/fonts/nunito/nunito-v32-latin-700.woff2")
			format("woff2");
	}
}
