@plugin "@tailwindcss/typography";

@layer utilities {
	.text-h1 {
		@apply font-avenir font-medium text-6xl leading-16.5 lg:text-[5.6875rem] lg:leading-24.25;
	}

	.text-h2 {
		@apply font-avenir font-extrabold text-[2.3125rem] leading-11.75 lg:font-medium lg:text-[5rem] lg:leading-20.25;
	}

	.text-h3 {
		@apply font-avenir font-medium text-[2.3125rem] leading-11.75 lg:text-6xl lg:leading-16.5;
	}

	.text-h4 {
		@apply font-avenir font-medium text-[2.3125rem] leading-11.75;
	}

	.text-h5 {
		@apply font-avenir font-extrabold text-[2.3125rem] leading-11.75;
	}

	.text-subhead {
		@apply font-avenir-condensed font-semibold text-lg leading-6.5 tracking-[0.05625rem] uppercase;
	}

	.text-b1 {
		@apply font-nunito font-normal text-base leading-5.5 lg:text-[1.375rem] lg:leading-7.75 lg:tracking-[0.06875rem];
	}

	.text-b2 {
		@apply font-nunito font-normal text-base leading-5.5 lg:text-lg lg:leading-6 lg:tracking-[0.05625rem];
	}

	.text-b3 {
		@apply font-nunito italic font-normal text-base leading-4.5 tracking-wider;
	}

	.text-tag {
		@apply font-avenir-condensed font-medium uppercase text-sm leading-none tracking-wider lg:text-base lg:leading-none;
	}

	/*

	.wysiwyg {
		line-height: 1.5em;

		a {
			@apply text-teal px-0.5 -mx-0.5 transition-colors duration-150 hover:text-white hover:bg-teal;
		}

		h1 {
			@apply mb-4;
		}

		h2 {
			@apply mt-8 mb-3;

			+h3 {
				@apply mt-3;
			}
		}

		h3 {
			@apply mt-7 mb-2.5;

			+h4 {
				@apply mt-2.5;
			}
		}

		h4 {
			@apply mt-6 mb-2;

			+h5 {
				@apply mt-2;
			}
		}

		h5 {
			@apply mt-5 mb-1.5;

			+h6 {
				@apply mt-1.5;
			}
		}

		h6 {
			@apply mt-4 mb-1;
		}


		p {
			@apply my-2;
		}

		ul,
		ol {
			@apply my-6;
		}

		ol,
		ul {

			ol,
			ul {
				@apply my-2;
			}
		}

		ul {
			@apply list-disc pl-4;
		}

		ol {
			@apply list-decimal pl-5;
		}

		ul > li > p,
		ol > li > p {
			margin-top: 0em !important;
			margin-bottom: 0em !important;
			line-height: 1.5em;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply text-blue-navy;
		}

		table {

			th,
			td {
				@apply px-5 py-3;
			}

			th {
				background-color: #f6fbef;
				text-align: left;
			}
		}

		table,
		th,
		td {
			@apply border-blue-navy border;
		}

		.table-wrapper {
			@apply overflow-x-auto;
		}

		:where(.wysiwyg > div > :first-child) {
			margin-top: 0 !important;
		}

		:where(.wysiwyg > div > :last-child) {
			margin-bottom: 0 !important;
		}

		> :first-child {
			@apply mt-0;
		}
	} */
}

@layer base {
	@font-face {
		font-display: swap;
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;
		src: url('/wp-content/themes/adeptag-full-site/dist/fonts/nunito/nunito-v32-latin-regular.woff2') format('woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 700;
		src: url('/wp-content/themes/adeptag-full-site/dist/fonts/nunito/nunito-v32-latin-700.woff2') format('woff2');
	}
}
