<div class="fluid-grid my-10 lg:my-20">
  <div class="span-content lg:col-start-[content-start] lg:col-end-[col-9]">
    <figure class="pl-6 border-l border-l-green-lime">
      <blockquote class="text-h5 text-blue-dark">{{ quote }}</blockquote>
      {% if author %}
        <figcaption class="text-tag mt-6">{{ author }}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
