<div
  class="
    fluid-grid my-10
    {% if loop.first %}
      lg:mb-20
    {% else %}
      lg:my-20
    {% endif %}
  "
>
  <div class="span-content lg:col-start-[content-start] lg:col-end-[col-9]">
    <div class="wysiwyg text-blue-dark">{{ wysiwyg }}</div>
  </div>
</div>
